#root {
  margin: 0 auto;
}

/* For Firefox */
.custom-scrollbar-example::-moz-scrollbar {
  width: 2px;
  height: 2px;
}

/* General styling */
.custom-scrollbar-example::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* width */
.event-overview::-webkit-scrollbar {
  width: 5px;
}

@keyframes leap {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes hit {
  0%, 100% {
    background-color: #1D4ED8;
    animation-timing-function: ease-in;
  }
  50% {
    background-color: #0E2B9B;
    animation-timing-function: ease-out;
  }
}

.hover\:animate-leap:hover {
  animation: leap 1s linear infinite;
}

.animate-hit {
  animation: hit 2s linear infinite;
}

.animate-jump {
  animation: leap 1s linear 2;
}

@keyframes hop {
  0%, 100% {
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.1);
    animation-timing-function: ease-out;
  }
}

.animate-hop {
  animation: hop 1s linear 2;
}

.animate-popit {
  animation: hop 1s linear 1;
}

@keyframes bump {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  25% {
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  75% {
    transform: scale(1.1);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

.animate-bump {
  animation: bump 1.5s linear 1;
}

.animate-hop {
  animation: hop 1s linear 2;
}


@keyframes fadeUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: none;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeUp {
  animation: fadeUp 1s;
}

@keyframes swipeUp {
  0% {
    transform: translateY(1000%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: none;
    animation-timing-function: ease-in;
  }
}

.animate-swipeUp {
  animation: swipeUp 1s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s;
}




@keyframes fadeRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: none;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeRight {
  animation: fadeRight 1s;
}


@keyframes fadeLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: none;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeLeft {
  animation: fadeLeft 1s;
}


@keyframes fadeDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: none;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeDown {
  animation: fadeDown 1.5s;
}


.animate-leap {
  animation: hit 1s linear infinite;
  animation-delay: 16.5s;
}

@keyframes fadeDownFast {
  0% {
    transform: translateY(-30%);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: none;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.animate-fadeDownFast {
  animation: fadeDownFast 0.5s;
}